.modal__back{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.modal{
    width: 370px;
    background-color: white;
    border-radius: 8px;
    margin: 150px auto;
    padding: 25px 10px 25px 30px;
}